/* ====== Estilos base ====== */
body {
  font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: #ffeab8;
  /* DCS - RETO */
  color: #222;
}

/* ====== Cabecera ====== */
header {
  background-color: #0d3b66;
  color: white;
  text-align: center;
  padding: 20px 20px;
}

header img {
  height: 120px;
  vertical-align: middle;
  /* jasb - sol8 */
}

header h1 {
  display: inline-block;
  margin-left: 10px;
  font-size: 2.8rem;
  color: #ffeab8;
  /* jasb - sol4 */
}

/* ====== Navegación ====== */
nav {
  background-color: #145da0;
  text-align: center;
  padding: 8px 0;
  font-size: 1.7em;
  /* jasb - sol3 */

}

nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 6px 10px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

nav a:hover {
  background-color: #ffeab8;
  color: #0d3b66;
  /* jasb - sol7 */
}

/* ====== Contenido principal ====== */
main {
  width: 90%;
  max-width: 2500px;
  margin: 20px auto;

}

/* ====== Secciones ====== */
section {
  background-color: white;
  margin-bottom: 25px;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

}

section header h2 {
  color: #f1f3f5;
  /* jasb - sol1 */
  margin-bottom: 5px;
}

section header h3 {
  color: LightGray;
  /* jasb - sol2 */
  font-weight: normal;
  margin-top: 0;
}



/* ====== Artículos ====== */

article {
  margin-top: 20px;
  border-top: 2px solid #e0e0e0;
  padding-top: 15px;
}

article h3 {
  color: #145da0;
  margin-bottom: 10px;
}

article img {
  width: 100%;
  max-width: 500px;
  border-radius: 6px;
  display: block;
  margin: 5px auto;
  padding: 30px;
  background-color: #145da0;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(13, 59, 102, 0.5);
  /* jasb - sol5 */
  /* jasb - sol6 */
}

article figure {
  max-width: 540px;
  background-color: white;
  padding: 10px;
  margin: 20px auto;
  border-radius: 10px;
}

article p {
  text-align: justify;
  line-height: 1.5;
}



/* ====== Pie de página ====== */
footer {
  background-color: #0d3b66;
  color: white;
  text-align: center;
  padding: 15px 10px;
  margin-top: 40px;
  font-size: 0.9rem;
  line-height: 1.4;
}

/* ====== Extras ====== */
em {
  color: #0d3b66;
  background-color: #ffeab8;
  /* jasb - sol9 */
}

strong {
  color: #ff6b35;
}